@charset "utf-8";
/* CSS Document */
html {
background-color: #4A2500;
height: 100px;
} 
body {
	margin: 50px 50px 50px 50px;
	padding: 10px 50px 50px 50px;	
}
div {
	background-color: #FFF;
	padding: 0px 30px 0px 50px;	
}

h2 {
font-family: Montaga;
font-size: 1.5em;
}

p {
	font-family: Montaga;
	font-size: 22px;
}
img {
	float: right;
	margin: 40px 0px 0px 0px;
	padding: 0px 20px 0px 20px;	
}
li {
  list-style: none;
   padding: 3px 50px 3px3 px; 
}
a {
	font-size: 16px;
	padding: 8px;
	margin: 8px;
	color: #FFF;
	text-decoration: none;
	background-color: #F8A74E;
	font-family: Montaga;
	border-radius: 7px;	
}
a:hover {
	background: #F8A74E;  
}
h1 {
font-family: Montaga;
font-size: 45px;
}


	

