p {
font-size: 18px;
font-family: 'Montaga', serif;
margin: 30px 50px;
}
h1 {
font-family: 'Montaga', serif;
font-size: 30px;
text-align: center;
}
h2 {
font-size: 20px;
font-family: 'Montaga', serif;
margin: 30px 50px;
}
	
body {
background-color: #F1F7B0;
opacity: 20%;
margin: 50px;
padding: 50px;
}

div {
background-color: #FFF;
margin: 0px 50px;
padding: 10px 0px 10px 0px;
opacity: 50%;
}
